$main-text-color: #606060;
$main-theme-color: #00a99d;
$border-grey-color: #dedede;
$text-black-color: #383838;
$text-dark-grey-color: #8a8a8a;
$text-light-grey-color: #e4e4e4;
$background-black-color: #383838;
$background-light-grey-color: #e4e4e4;