@import './color.scss';
@import './size.scss';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

button {
  font-family: 'cwTeXYen','Raleway', 'Avenir', Helvetica, Arial, sans-serif;
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  &:hover {
    outline: none;
  }
}

.Section-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  color: $text-black-color;
  font-size: 26px;
  margin: 0;
  position: relative;
  &.light {
    color: $text-light-grey-color;
  }
  &::before {
    content: '';
    background: url('~@/assets/Icons/title-right.svg');
    width: 28px;
    height: 28px;
    position: absolute;
    top: -5px;
    margin-left: -20px;
    transform: translateX(-50%) rotate(180deg);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after {
    content: '';
    background: url('~@/assets/Icons/title-right.svg');
    width: 28px;
    height: 28px;
    position: absolute;
    top: 8px;
    margin-left: 10px;
    // transform: ;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.Description {
  font-size: 16px;
  line-height: 1;
  text-align: center;
  margin-top: 20px;
  font-weight: 500;
  &.light {
    color: #8a8a8a;
  }
  &.dark {
    color: #606060;
  }
  @media (max-width: $below-ipad-size) {
    width: 90%;
    margin: 20px auto 0;
  }
}
.Text-theme-color {
  color: $main-theme-color;
}
@mixin Slider-button($hover-color, $hover-background) {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  background-color: $background-light-grey-color;
  color: $main-theme-color;
  width: 30px;
  height: 30px;
  margin: 2px;
  border-radius: 4px;
  &:hover {
    color: $hover-color;
    background-color: $hover-background;
  }
  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    &:hover {
      background-color: $background-light-grey-color;
      color: $main-theme-color;
    }
  }
}
